<p>Hello <%= @resource.email %>!</p>

<p>
    Your account has either been actived for the Woodstock Homeowners Association or you have 
    forgotten your password and have requested to change it.
</p>
<p> 
    If your account is being activated you are required to change your password in order to access 
    your account.
</p>
<p>
    If your account was already activated and you did not request to change your password, 
    no action is required.  Your password will not be changed until you click the link below.
</p>
<p>Click the link below to change your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, redirect_url: 'http://localhost:3000/unlock') %></p>

